/* Variables */
:root {
  --clr-primary: #fff;
  --clr-secondary: #121212;
  --clr-accent: #9be2ad;
  --clr-accent-hover: #7bf59a;
  --clr-listitem: rgba(12, 12, 12, 0.8);
  --clr-list-hover: rgba(16, 16, 16, 0.8);
  --clr-checked: #303030;
}

/* General styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Cairo', sans-serif;
}

html {
  background-color: #060606;
  /* background-image: url(/assets/blurry.svg); */
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: auto;
  overflow-x: hidden;
}

body {
  display: flex;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
}

h1 {
  color: var(--clr-accent);
  padding-block: 2rem;
  font-weight: 600;
}

h2 {
  color: var(--clr-accent);
  padding-block: 1rem;
}


/* Mobile first */
.app-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  margin-block: 2vh;
  width: 95vw;
  max-width: 1000px;
  background-color: rgba(80, 80, 80, 0.2);
  box-shadow: 0 0 15px 10px rgba(76, 76, 76, 0.219);
  backdrop-filter: blur(70px);
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-inline: 1rem;
}


input {
  padding: .2rem 1rem;
  font-size: 1.125rem;
  border-radius: 1rem;
  border: none;
  box-shadow: none;
}

input[type="text"] {
  min-width: 325px;
  width: 80vw;
  max-width: 600px;
  text-align: center;
  font-size: 1.25rem;
  background-color: var(--clr-primary);
}

input[type="submit"] {
  width: min-content;
  align-self: center;
  margin-top: .5rem;
  margin-bottom: 2rem;
  background-color: var(--clr-accent);
  transition: background-color, scale 300ms;
  cursor: pointer;
  font-size: 1.25rem;
  transition: 200ms;
}

ul {
  position: relative;
  padding-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  list-style: none;
  width: 100%;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: clamp(10px, 0.5rem, 1rem);
  position: relative;

  background-color: var(--clr-listitem);
  color: var(--clr-primary);
  border-radius: 1rem;
  font-size: 1.125rem;
  padding: .5rem 1.5rem;
  width: 96%;

  transition: 150ms;
}

.is-checked {
  background-color: var(--clr-checked);
  opacity: .5;
}

.list-item p {
  padding-left: 3rem;
  flex-grow: 1;
  cursor: pointer;
}

input[type="checkbox"] {
  position: absolute;
  height: 100%;
  left: 70px;
  right: 70px;
  cursor: pointer;
  opacity: 0;
}

.list-item img {
  height: 35px;
}

.handle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 100%;
  left: 0;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  cursor: move;
}

.drag-area img {
  width: 70%;
}

.sortable-ghost {
  opacity: 0;
}

@media (hover: hover) {
  .list-item:hover {
    background-color: var(--clr-list-hover);
  }

  input[type="submit"]:hover {
    background-color: var(--clr-accent-hover);
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}